.env
/tmp
coverprofile

# Cloud function dependencies
/functions/node_modules/

# Firebase secrets
firebase-secrets.json

# Firebase logs
firebase-debug.log
ui-debug.log

# Ignore Apple OSX Finder shenanigans
**/*/.DS_Store


# # Ignore ip locations
assets/IP2LOCATION/IP2LOCATION-LITE-DB5.IPV6.BIN